{
  "exclude": [
    "build",
    "dist",
    "**/__pycache__",
    "**/node_modules"
  ],
  "venvPath": ".",
  "venv": "env",
  "typeCheckingMode": "off",
  "reportMissingImports": true,
  "reportMissingTypeStubs": false,
  "extraPaths": [
    "./apps/frappe",
  ]
}
